@import '../variables.scss';

.root {
}

.container {
  max-width: $max-content-width;
  display: inline-block;
  float: right;
}

.qbox {
  border: 2px solid #f5f5f5;
  padding: 10px;
  height: -moz-calc(150px + 1em);
  height: -webkit-calc(150px + 1em);
  height: -o-calc(150px + 1em);
  height: calc(150px + 1em);
  //height: 150px + 1em;
  overflow-x: scroll;
  margin-bottom: 10px;
  background-color: $background-gray;
}

.entitybox {
  border: 2px solid #f5f5f5;
  padding: 10px;
  margin-right: 10px;
  display: inline-block;
  background-color: white;
}

.entitybox:hover {
  cursor: pointer;
  border-color: #e8e8e8;
}

.entitybox p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: large;
  font-weight: normal;
}

.sparql,
.sparqlpressed{
  color: $foreground-gray;
  font-size: large;
  padding: 7px;
  border: 2px solid $background-gray;
  border-radius: 25px;
  display: block;
  height: 25px;
  text-align: center;
  font-weight: 400;
  float: right;
  margin: 0 0 10px 10px;
}

.sparql{
  background-color: transparent;
}

.sparqlpressed{
  background-color: $background-gray;
}

.sparql:hover,
.sparqlpressed:hover{
  cursor: pointer;
  background-color: $background-gray;
}

.wrapfloat{
  overflow: hidden;
}
