@import '../variables.scss';

.root {
}

.container {
  overflow: hidden;
  margin-bottom: 10px;
}


.qbox {
  border-top-right-radius: 20px;
  border: 2px solid #f5f5f5;
  padding: 10px 20px 10px 20px;
  max-width: 1000px;
  height: 300px;
  overflow-y: scroll;
}

.sparqlmenu {

}

.sparql,
.sparqlpressed{
  color: $foreground-gray;
  font-size: large;
  padding: 7px;
  border: 2px solid $background-gray;
  display: block;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
  font-weight: 400;
  float: right;
  margin-left: 10px;
}

.sparql{
  background-color: transparent;
}

.sparqlpressed{
  background-color: $background-gray;
}

.sparql:hover,
.sparqlpressed:hover{
  cursor: pointer;
  background-color: $background-gray;
}
