.root {
}

.container {
  border: 2px solid #f5f5f5;
  padding: 20px;
  max-width: $max-content-width;
  margin: 0 0px 10px 0;
}

.caption {
  font-size: x-small;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 0;
}

.caption a,
.caption a:active,
.caption a:visited {
  color: #0083b6;
}

.sum {
}

.sum h2 {
  color: #9b9c9c;
  font-size: large;
  font-weight: bold;
  margin-top: 0;
}

.sum table tr {
  border-top: 2px solid #f5f5f5;
}

.sum table tr:first-child {
  border-top: none;
}

.sum table td {
  padding: 10px 0 10px 0;
}

.sum table tr td:first-child{
  font-weight: 600;
}
