@import '../variables.scss';

.root {
}

.container {
  margin: 0 auto;
  padding: 10px 0 10px;
  max-width: $max-content-width;
}

.link,
.link:active,
.link:visited {
  color: $accent;
}

@media screen and (min-width: $screen-sm-min){
  .leftColumn {
    display: inline-block;
    width: 60%;
    margin: 0 10px 10px 0;
    vertical-align: top;
  }

  .rightColumn {
    display: inline-block;
    width: 39%;
    margin: 0 0 10px 0;
    vertical-align: top;
  }
}

.test {
  height: 100px;
  width: 100px;
  background-color: orange;
}

.contentholder {
  margin-bottom: 30px;
}

.feedback {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

.buttonmenu {
  overflow: hidden;
}

.title {
  max-width: $max-content-width;
  margin: 0 0px 10px 0;
}

.title p {
  color: $accent;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 0;
}

.bottom{
  height: 110px;
}

.development{
  color: $accent;
  font-size: xx-large;
  font-weight: bold;
  text-align: center
}
