---
title: Über uns
component: ContentPage
---
p.
  Dieses Question Answering (QA)-System wurde entwickelt vom <a href="http://wdaqua.eu">WDAqua-Projekt</a>,
  einem Trainingsnetzwerk für Doktoranden, finanziert durch die Europäische Union. Wir sind 15 Doktoranden mit Aufgaben
  rund ums Thema Question Answering. Die Einzelprojekte umfassen Datenbeschaffung, Datenanalyse, automatische Anfragegenerierung,
  Spracherkennung und Antwortgestaltung. Wir sind über vier europäische Staaten verteilt (Deutschland, Frankreich, Griechenland
  und das Vereinigte Königreich) und arbeiten in sechs verschiedenen Institutionen. Wenn du an unserer Arbeit interessiert bist,
  zögere nicht uns zu kontaktieren. Wir verbessern unser System stetig, deshalb: "Stellt ihm Fragen!"
