---
title: About
component: ContentPage
---
p.
  This is a question answering (QA) system as a part of the
  <a href="http://wdaqua.eu">WDAqua project</a>, a training
  network for PhD studends financed by the European Union. We are 15 PhD
  students working on topics around QA. The topics include data provision,
  data analysis, automatic query generation, speech recognition and answer
  presentation. We are distributed around 4 countries in Europe (France, Germany,
  Greece, United Kingdom) and come from different istitutions. We try to improve
  over time so "Keep asking!".

p If you have any question do not hesitate to contact us. The mailing list of our project is
  | <a href="mailto:wdaqua-all@lists.iai.uni-bonn.de">wdaqua-all@lists.iai.uni-bonn.de</a>.
  | To contact a specific member you can visit <a href="http://wdaqua.eu/supervisors-and-students">this page</a>.
  | The public available code is published in <a href="https://github.com/WDAqua">GitHub</a>. Moreover you can also follow us on
  | <a href="https://twitter.com/WDAqua">Twitter</a>.

p <b> Contributions </b>:
  |This QA system was mainly developed by me, <b><a href="mailto:dennis.diefenbach@univ-st-etienne.fr">Dennis Diefenbach</a></b>
  | a PhD student in the Laboratoire Huber Curien at the University Jean Monet in Saint-Etienne under the supervision of <b>Pierre Maret</b> and <b>Kamal Singh</b> (both from Laboratoire Huber Curien) .
  |I want to thank the following people for their contributions. I want to thank <b>Shanzay Amjad</b> (University of Ottawa), for her great work on the
  | UI. She worked with me as an internship student for 4 month and we really made big progress. Moreover <b>Niousha Hormozi</b> (University of Athens)
  | for collaborating on the "Did you mean" functionality over DBpedia that allows the user to interact with the system in
  | the case of ambigous questions. The QA system is integrated into <a href="https://github.com/WDAqua/Qanary">Qanary</a>,
  | an architecture for combining components of QA system that was developed by <b>Andreas Both</b> (industrial partner from DATEV eG), <b>Kuldeep Singh</b> (Frauenhofer IAIS) and myself. Andreas Both also
  | helped in many situations solving technical problemes I encountered. His advise was/is always very usefull.
  | I want to thank <b>Andreas Thalhammer</b> (Karlsruhe Institute of Technology) for providing the entity summarization service, a nice component that
  | increases the UI experience. Moreover we are using his page-rank numbers to rank the entities in case of list answers
  | over DBpedia. Finally I want to thank the system administrator staff at the Laboratoire Huber Curien, this includes
  | <b>Thomas Gautrais</b>, <b>Fabrice Allibe</b> and <b>Christophe Vereecke</b>. That's it! I hope I didn't forget anybody!
