---
title: Sobre nosotros
component: ContentPage
---
p.
  Este es un sistema de respuesta a preguntas (QA) como parte de la
  <a href="http://wdaqua.eu"> Proyecto WDAqua </a>, una formación
  para los estudiantes de doctorado financiados por la Unión Europea. Somos 15 doctores
  estudiantes que trabajan en temas alrededor de QA. Los temas incluyen la provisión de datos,
  análisis de datos, generación automática de consultas, reconocimiento de voz y respuesta
  presentación. Estamos distribuidos alrededor de 4 países en Europa (Francia, Alemania,
  Grecia, Reino Unido) y proceden de diferentes instituciones. Tratamos de mejorar
  con el tiempo así que "Sigue preguntando!".

p Si usted tiene alguna pregunta por favor no dude en contactar con nosotros. La lista de correo de nuestro proyecto es
  | <a href="mailto:wdaqua-all@lists.iai.uni-bonn.de"> wdaqua-all@lists.iai.uni-bonn.de </a>.
  | Para contactar a un miembro específico puede visitar
  | <a href="http://wdaqua.eu/supervisors-and-students"> esta página </a>. El código disponible
  | del público se publica en <a href="https://github.com/WDAqua"> GitHub </a>. También es
  | puede seguirnos en <a href="https://twitter.com/WDAqua"> Twitter </a>.
