---
title: Su di Noi
component: ContentPage
---
p.
  Questo sistema di question answering (QA) è stato creato dal
  <a href="http://wdaqua.eu">Progetto WDAqua</a>, una rete di
  dottorandi finanziato dall'Unione Europea. Siamo 15 Dottorandi
  che lavorano attorno a temi legati al QA. I temi includono la
  ricerca di dati, l'analisi dei dati, le generazione automatica di
  Linguaggio di interrogazione, riconoscimeto vocale e la
  presentazione di risposte. Siamo distribuiti in 4 paesi in Europa
  (Francia, Germania, Grecia, Gran Bretagna) e lavoriamo in diverse
  diverse organizzazioni. Se sei interessato nel nostro lavoro contattaci.
  Cerchiamo di migliorare col tempo quindi "Keep asking!".
