---
title: Sur Nous
component: ContentPage
---
p.
  Il s'agit d'un système de réponse aux questions (QA) créé par le projet WDAqua,
  un réseau de formation pour les doctorants financés par l'Union européenne.
  Nous sommes 15 doctorants travaillant sur des thèmes autour du QA. Les sujets comprennent
  la fourniture de données, l'analyse des données, la génération automatique de requêtes,
  la comprension du text et la présentation des réponses. Nous sommes répartis autour de
  4 pays en Europe (France, Allemagne, Grèce, Royaume-Uni) et viennent de différentes institutions.
  Nous essayons d'améliorer au fil du temps, pour ca "Continuer à demander!".

p Si vous avez des questions, n'hésitez pas à nous contacter. La liste de diffusion de notre projet
  | est <a href="mailto:wdaqua-all@lists.iai.uni-bonn.de">wdaqua-all@lists.iai.uni-bonn.de</a>. Pour contacter
  | un membre spécifique, vous pouvez visiter <a href="http://wdaqua.eu/supervisors-and-students">cette page</a>.
  | Le code public disponible est publié dans <a href="https://github.com/WDAqua">GitHub</a>. De plus, vous pouvez
  | également nous suivre sur <a href="https://twitter.com/WDAqua">Twitter</a>.
