---
title: Contact
component: ContentPage
---
p If you have any question do not hesitate to contact us. The mailing list of our project is
  | <a href="mailto:wdaqua-all@lists.iai.uni-bonn.de">wdaqua-all@lists.iai.uni-bonn.de</a>.
  | To contact a specific member you can visit <a href="http://wdaqua.eu/supervisors-and-students">this page</a>.
  | The public available code is published in <a href="https://github.com/WDAqua">GitHub</a>. Moreover you can also follow us on
  | <a href="https://twitter.com/WDAqua">Twitter</a>.
