---
title: Beispiele
component: ContentPage
---
p Hier sind ein paar Fragen die das QA system beantworten kann:
  ul
    li <a href="/question?query=What%20is%20the%20capital%20of%20France?&lang=en"> Was ist die Hauptstadt von Frankreich?</a>
    li <a href="/question?query=Give%20me%20museums%20in%20Bonn.&lang=en"> Give me museums in Bonn. </a>
    li <a href="/question?query=How%20many%20inhabitants%20has%20Southampton?&lang=en"> How many inhabitants has Southampton? </a>
    li <a href="/question?query=List%20me%20temples%20in%20Athens&lang=en"> List me temples in Athens. </a>
  ul

p You can formulate keywords or full questions:
  ul
    li <a href="/question?query=water&lang=en"> water </a>
    li <a href="/question?query=formula%20water&lang=en"> formula water </a>
    li <a href="/question?query=What%20is%20the%20formula%20of%20Glucose?&lang=en"> What is the formula of Glucose? </a>
  ul

p Here are some other questions divided in topics:
  ul
    li Geography
      ul
        li <a href="/question?query=In+which+countries+are+the+alps%3F"> In which countries are the alps? </a>
        li <a href="/question?query=What%20is%20the%20surface%20of%20Liechtenstein?&lang=en"> What is the surface of Liechtenstein? </a>
      ul
    li History
      ul
        li <a href="/question?query=When%20was%20the%20Battle%20of%20Waterloo?&lang=en"> When was the Battle of Waterloo? </a>
        li <a href="question?query=When%20did%20the%20soviet%20union%20dissolve?&lang=en"> When did the Soviet Union ended? </a>
      ul
    li Politics
      ul
        li <a href="/question?query=german%20parliament&lang=en"> german parliament </a>
        li <a href="/question?query=Who%20is%20the%20king%20of%20Jordan?&lang=en"> Who is the king of Jordan? </a>
        li <a href="/question?query=Who%20is%20the%20mayor%20of%20Berlin?&lang=en"> Who is the mayor of Berlin? </a>
        li <a href="/question?query=What%20is%20the%20party%20of%20the%20mayor%20of%20Berlin?&lang=en"> What is the party of the mayor of Berlin? </a>
      ul
    li Biographical
      ul
        li <a href="/question?query=Where%20was%20Albert%20Einstein%20born?&lang=en"> Where was Albert Einstein born? </a>
        li <a href="/question?query=When%20was%20Albert%20Einstein%20born?&lang=en"> When was Albert Einstein born? </a>
    li Movies
      ul
        li <a href="/question?query=Give%20me%20actors%20starring%20in%20The%20Lord%20of%20the%20Rings.&lang=en"> Give me actors starring in the Lord of the Rings. </a>
        li <a href="/question?query=Who%20is%20the%20director%20of%20The%20Life%20is%20Beautiful?&lang=en"> Who is the director of The Life is Beautiful? </a>
        li <a href="/question?query=Who%20produced%20the%20Life%20is%20Beautiful?&lang=en"> Who produced the Life is Beautiful? </a>
      ul
    li Music
      ul
        li <a href="/question?query=Who%20are%20the%20members%20of%20Green%20Day?&lang=en"> Who are the members of Green Day? </a>
        li <a href="/question?query=Give%20me%20songs%20of%20Pink%20Floyd.&lang=en"> Give me songs of Pink Floyd. </a>
      ul
  ul


