---
title: Esempi
component: ContentPage
---
p Qui alcune domande che il systema di QA é in grado di rispondere:
  ul
    li <a href="/question?query=Qual'é%20la%20capitale%20della%20Francia?&lang=it&kb=wikidata"> Qual'é la capitale della Francia? </a>
    li <a href="/question?query=Dammi%20musei%20a%20Bonn.&lang=it&kb=wikidata"> Dammi musei a Bonn. </a>
    li <a href="/question?query=Quanti%20abitanti%20ha%20Southampton?&lang=it&kb=wikidata"> Quanti abitanti ha Southampton? </a>
    li <a href="/question?query=Dammi%20templi%20ad%20Atene.&lang=it&kb=wikidata"> Dammi templi ad Atene. </a>
  ul

p Puoi inserire solo una serie di parole o delle domande in linguaggio naturale:
  ul
    li <a href="/question?query=acqua&lang=it&kb=wikidata"> acqua </a>
    li <a href="/question?query=formula%20acqua%20&lang=it&kb=wikidata"> formula acqua </a>
    li <a href="/question?query=Qual'è%20la%20formula%20del%20Glucosio?&lang=it&kb=wikidata"> Qual'é la formula del Glucosio? </a>
  ul

p Qui alcune domande divise per categorie:
  ul
    li Geografia
      ul
        li <a href="/question?query=In+which+countries+are+the+alps%3F"> ??????? In which countries are the alps? </a>
        li <a href="/question?query=Qual'é%20l'area%20del%20Liechtenstein?&lang=it&kb=wikidata"> Qual'é l'area del Liechtenstein? </a>
      ul
    li Storia
      ul
        li <a href="/question?query=Quando%20fu%20la%20Battaglia%20di%20Waterloo?&lang=it&kb=wikidata"> Quando fu la Battaglia di Waterloo? </a>
        li <a href="question?query=When%20did%20the%20soviet%20union%20dissolve?&lang=en&kb=wikidata"> ????? </a>
      ul
    li Politica
      ul
        li <a href="/question?query=parlamento%20tedesco&lang=it&kb=wikidata"> parlamento tedesco </a>
        li <a href="/question?query=Who%20is%20the%20king%20of%20Jordan?&lang=en&kb=wikidata"> Who is the king of Jordan? </a>
        li <a href="/question?query=Chi%20é%20il%20sindaco%20di%20Berlino?&lang=it&kb=wikidata"> Chi é il sindaco di Berlino? </a>
        li <a href="/question?query=Qual'é%20il%20partito%20del%20sindaco%20di%20Berlino?&lang=it&kb=wikidata"> Qual'é il partito del sindaco di Berlino? </a>
      ul
    li Biographia
      ul
        li <a href="/question?query=Dove%20è%20nato%20Albert%20Einstein?&lang=it&kb=wikidata"> Dove è nato Albert Einstein? </a>
        li <a href="/question?query=Quando%20è%20nato%20Albert%20Einstein?&lang=it&kb=wikidata"> Quando è nato Albert Einstein? </a>
    li Film
      ul
        li <a href="/question?query=Dammi%20gli%20attori%20nel%20Signore%20degli%20Anelli.&lang=it&kb=wikidata"> Dammi gli attori nel Signore degli Anelli. </a>
        li <a href="/question?query=Chi%20é%20il%20regista%20della%20Vita%20é%20Bella?&lang=it&kb=wikidata"> Chi é il regista della Vita é Bella? </a>
        li <a href="/question?query=Chi%20é%20il%20produttore%20della%20Vita%20é%20Bella?&lang=it&kb=wikidata"> Chi é il produttore della Vita é Bella? </a>
      ul
    li Musica
      ul
        li <a href="/question?query=Chi%20é%20membro%20dei%20Green%20Day?&lang=it&kb=wikidata"> Chi é membro dei Green Day? </a>
        li <a href="/question?query=Dammi%20canzoni%20dei%20Pink%20Floyd.&lang=it&kb=wikidata"> Dammi canzoni dei Pink Floyd. </a>
      ul
  ul


