@import '../variables.scss';

.root {
}

.button {
  background-color: transparent;
  color: $foreground-gray;
  font-size: large;
  padding: 7px;
  border: 2px solid $background-gray;
  display: block;
  height: 25px;
  text-align: center;
  font-weight: 400;
  float: right;
  margin: 0 10px 0 10px;
}

.button:hover{
  cursor: pointer;
  background-color: $background-gray;
}

.container {
  display: none;
}

.form {
  padding: 10px 20px 10px 20px;
  border: 2px solid $background-gray;
}

.thanks {
  display: none;
}
