@import '../variables.scss';

.root {
}

.container {

  //float: left;
  max-width: 1000px;
  color: #0083b6;
  font-family: Verdana;
  font-size: large;
  font-style: oblique;
  white-space: pre;
  padding: 15px 0;
}

//.qbox {
//  border: 0px solid #fbfdff;
//  padding: 2px 20px 2px 20px;
  //height: 200px;
  //overflow-y: scroll;
//  margin-bottom: 10px;
//}


//.wrapfloat{
//  overflow: hidden;
//}
