@import '../variables.scss';

.root {
}

@keyframes transition {
  0%   {opacity: 1;}
  100% {opacity: 0.3;}
}

.querybox {
  display: inline-block;
  margin: 0 5px 0 5px;
  color: black;
  vertical-align: top;
  margin-top: 6px;
}

.listening {
  display: none;
  margin-left: 30px;
  animation: transition 1s ease-in 0s infinite alternate;
}

.listening p {
  font-size: xx-large;
  font-weight: 300;
  color: $foreground-gray;
}
.mic {
  vertical-align: middle;
  margin: 0;
  padding: 0 0 3px 0;
}

.hide {
  display: none;
}

.cancel,
.cancel:active,
.cancel:visited {
  display: none;
  color: $foreground-gray;
  font-size: medium;
  vertical-align: 100%;
  margin-left: 8px;
  text-decoration: none;
  font-size: medium;
  background-color: transparent;
  border: none;
}

.stop {
  display: none;
  margin: 0 0 0 10px;
  color: $foreground-gray;
  font-size: medium;
  padding: 7px;
  border: 1px solid #b7b8b8;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  font-weight: 400;
  background-color: transparent;
}

.stop:hover{
  background-color: $background-gray;
}

.button,
.headerbutton{
  height: 35px;
  color: $foreground-gray;
  border: 1px solid $foreground-gray;
  border-left: none;
  background-color: #ffffff;
  vertical-align: top;
}

.button:hover,
.headerbutton:hover {
  background-color: $background-gray;
}

.headerbutton {
  height: 30px;
}

.textinput,
.headertextinput{
  height: 35px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid $foreground-gray;
  box-shadow:inset 0 0 5px 2px $background-gray;
}

.headertextinput {
  height: 30px;
}
